/* basic elements */
html {
	margin: 0px;
	padding: 0px;
}
body, ul, li, p {
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: small;
}
body { 
	color: #333; 
	background-color: #fff; 
	margin: 0; 
	padding: 0;
}
ul {
	list-style-type:square;
}
li {
	line-height: 16px;
}	
p { 
   line-height: 120%;
   margin: .5em 4em 1em 0; 
   text-align: left;
}

a {
	text-decoration : none;	 
}

a:link { color:#015a9c; text-decoration: none;} 
a:visited { color:#2170ab}

#quote{margin:0; padding:0 4em;}
#quote a{color:#333;}

#services {
    font-family:Tahoma, Geneva, sans-serif;	
	white-space: nowrap;
	text-align:center;
	vertical-align:right;
	font-weight:78%;
	padding: 0.2em 0 0 0;
	font-size : 90%;}
	#services a {color:white; padding-left:3em;}
/*#services a:link { color:white} 
#services a:visited { color:white} 
#services a:hover { color:white}*/

#toppic { padding-left:210px;}

.twitter {
	top: 185px;
	left: 400px;
	z-index: -1;
	padding: 1px 0 0 0;
	margin: 0;
	position: absolute;
}
	.twitter p{
	text-align: left;
	}
.twitter h4{
    border-bottom: 0;
	}
.pagetitle{
	color:#005a9b;
	}
#promotion {
	padding:0;
	margin:0 0 0 0;
	}
.marg{padding-left:13px;}
.marg2{padding:0 0 .5em 0;}	
	
div.right {
	float: left;
}

acronym {
	border-bottom: none;
	}

.menucontainer {
    float: left;
    background-color: #ffffff;
    margin: 0px;
    width: 250px;
    height: 100%;
}

.menu {
    font-size : 90%;
    padding: 3px 8px 5px 3px;
    border-left: 1px solid #ddd;
}

.menu a { font-weight:normal; font-style: normal; color: #5e87bb; text-decoration : none; }
.menu a:link {   }
.menu a:visited { color:#999999; }
.menu a:hover { text-decoration: underline; }
.menu ul { margin: 0px 0px 0px 20px; padding: 0px; }
.menu li  {  list-style-type: none; font-weight : normal ; color:#5e87bb; }
.menu ul ul li .sel { padding: 0 0 0 10px;  font-style:italic; text-decoration: underline; font-weight: bold;}
.menu ul ul li  { list-style-type: disc; font-weight : normal; color: #015a9c;}

.menuheader {

	font-family: arial, helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	letter-spacing: 1px;
	border-bottom: 1px dashed #688B9A;
	border-bottom: 1px dashed #8ca8d0;

	margin-top: 8px;
	margin-bottom: 5px;
	padding: 2px;
	padding-left: 0px;
	color: #015a9c;
}

.sel {
}

.tab { font-size : 85%; border: 0; background-color: #294563;}
.tab a:link {   text-decoration: none;  }
.tab a:visited { text-decoration: none; color: #2A4A6D; }
.tab a:visited { text-decoration: none; color: #8ca8d0; }
.tab a:hover { color: #000066; text-decoration: underline; }

table .title { background-color: #FFFFFF; width:100%; border: 0px; }
.dida { font-size: 80%; }

.pre { white-space: pre;}
.nowrap { white-space: nowrap;}

.main {
    margin: 0 5px 0 280px;
}

.content {
    padding: 5px 5px 5px 10px;
}
.date{ font-size:80%; font-style:italic; color:#b4b4b4;}

.content .ForrestTable { width: 100%; background-color: #7099C5; color: #ffffff; font-size : 90%;}
.content .ForrestTable caption { text-align: left; color: black; font-weight: bold; }
.content .ForrestTable th { text-align: center; }
.content .ForrestTable td { background-color: #f4f2f2; color: black; }

.content .externals { width: 80%; background-color: #7099C5; color: #ffffff; font-size : 90%;}
.content .externals caption { text-align: left; color: black; font-weight: bold; }
.content .externals th { width: 120px; text-align: right; }
.content .externals td { background-color: #f0f0ff; color: black; }


.frame {
	-moz-border-radius:5px;
    border-radius: 5px;
  border: solid #8ca8d0 1px;
  margin: 0em 4em 0em 0em;
}
div.frame{
	padding:0;
	margin:0em 0 0 1.5em;
	}

.frame .label {
  background: #8ca8d0;
  	-moz-border-radius:  3px 3px 0 0;
     border-radius: 3px 3px 0 0;
  color: #5e87bb;
  font-weight: bold;
  padding: 5px 10px;
}
.label a { font-weight:bold; font-style: normal; color: #015a9c; text-decoration: none;}
.label a:link { }
.label a:visited { color:#015a9c;}
.label a:hover { text-decoration: underline; }

.first{
    display:block
    width:100%;
    height:292px;
    background-color:#475;
    overflow:auto
    }

.frame .content {
  border-radius: 5px;
  padding: 5px 10px;
  background: #f4f2f2;
  color: black;
  line-height: 120%;
  font-size: 90%;
}
.warning .label {
  background: #C00;
  color: white;
}
.warning .content {
  background: #FFF0F0;
  color: black;
}
.fixme .label {
  background: #C6C600;
}

.fixme { margin-top: 15px; margin-bottom: 15px; padding: 5px; border: solid 1px #C6C600; background-color: #FAF9C3; }
.fixme .label { background-color: #C6C600; color: #ffffff; }

.code { background-color:#FCF1D1; border-color: #CFDCED; border-style: dashed; border-width: 1px; margin: 5px; padding: 5px; }
.codefrag {	font-family: "Courier New", Courier, monospace; }

.highlight { background-color: yellow; }


.dtdElement { width: 100%;	font-size: 90%; background-color : #ffffff; }

.dtdTag {    color: #990000; text-transform : uppercase;  font-style : normal;  font-size : 120%;  font-weight : bold; }


h1, h2, h3, h4, h5, h6 {
	font-family: geneva, verdana, sans-serif;
    font-weight: bold;
    margin: 1em 0 1em;
    padding-bottom: 1px;
}

h1 {
    font-size: 160%;
    color: #333333;
    margin-top: 0em;    
}
h2 {
    font-size: 180%;
    color: #333333;
    margin-top: 2em;
}	

h3 { 
    font-family: "new york", georgia, serif;
    font-size: 175%;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 1em 3em 0em 0;
    padding: 0;
    color: #015a9c;

}

h4 {
    font-size: 90%;
    font-style: italic;
    font-weight: normal;
    border-bottom: 1px dashed #8ca8d0;
}

.section {

}

.subsection {
	margin-left: 25px;
}

.subsubsection {
	margin-left: 25px;	
}


.toc {
    /*font-family: arial,helvetica,sanserif;*/
	    font-family: georgia;
    background-color: #4C6C8F;
    color: #ffffff;
    font-weight: bold;
    padding: 2px;
}

.faq {
    font: italic normal 10pt georgia;
	letter-spacing: 1px; 
	margin-bottom: 0px; 
	color: #688B9A;
	border-bottom: 1px solid #688B9A;
    padding: 2px;
}

.navpath {
    font-family: arial,helvetica,sanserif;
    background-color: #CFDCED;
    padding: 2px 6px;
    margin: 0px 0px 0px 0px;
    font-size: 90%;
    border-bottom: 2px solid #4C6C8F;
}

.copyright {
    font-family: arial,helvetica,sanserif;
    font-size: 90%;
    background-color: #F1F1F1;
    clear: both;
    text-align: left;
    margin:0 0 10px 0;
    padding-left: 15px;
    border-top: thin solid #CCC;
    border-bottom: thin solid #CCC;
}

.bluebar {
    padding: 5px 5px 5px 10px;
    background-color: #006699;
    margin: 0px;
}

.lightbluebar {
    padding: 5px 5px 5px 10px;
    background-color: #CFDCED;
    margin: 0px;
    border-top: 1px solid #294563;
    border-bottom: 1px solid #294563;
}

.logobar {
    background-color: #f4f2f2;    
    color: #000000;
    font-size: 14pt;
    font-style: italic;
    margin: 0px 0px;
    border-bottom: 1px solid #ddd;
    padding: 4pt 0px 0pt 15pt;
}

.searchcaption {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 8pt;
    font-style: normal;
    margin: 0px;
    float: left;
    text-align: left;
    padding: 5px 0 0 55px;
}

#searchBox {
    width: 255px;
	padding: 0;
	
}
#searchForm {
    margin: 0px;
}
#goButton {
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8pt;
}
@media print {
   .menu {
     display: none;
   }
}

a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(./images/external.png) right center no-repeat;
  padding-right: 15px;
}

.screenshots {

}
.screenshots tr td {
	width:300px;
}
.screenshots tr th {
}

#minitoc-area {
    margin: 0 10px 15px 5px;
    padding: 5px 0 5px;
}
.minitoc {
	margin: 0px 5px; 
	color: #559635;
	font-weight: normal;	
}
.minitoc li{
	color: #8ca8d0;
	}